<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
{{>headers}}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Hey {{staff_name}} :
        </div>
        <div class="card-body">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                <a class="nav-link" href="/profile">About</a>
                              </li>
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  History
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="/search/booked_details">Booked</a>
                                  <a class="dropdown-item" href="/search/cancelled_details">Cancelled</a>
                                </div>
                             </li>

                        </ul>
                        <form method="get" action="/search/booked_details1" class="form-inline my-2 my-lg-0">
                          <input style="width: 230px" class="form-control mr-sm-2" name="book_id" type="number" placeholder="Do you have booking ID ?" aria-label="Search">
                          <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
                        </form>
                  </div>
            </nav>
        </div>
    </div>






    {{#if booking_detils}}
        <div class="card">
            <div class="card-header">
                Hey {{user.staff_name}} :
            </div>
            {{#if booking_detils}}
        <div class="card-body">
              <div class="form-group row">
                <label for="staticId" class="col-sm-2 col-form-label">Staff Id </label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticId" value=": {{user.staff_id}}">
                </div>

                <label for="staticName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticName" value=": {{user.staff_name}}">
                </div>

                <label for="staticDept" class="col-sm-2 col-form-label">Department</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticDept" value=": {{user.dept}}">
                </div>

                <label for="staticPhone" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticPhone" value=": {{user.staff_phone}}">
                </div>

                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value=": {{user.email}}">
                </div>

                <label for="staticAddress" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticAddress" value=": {{user.staff_address}}">
                </div>

              </div>
        </div>
                {{/if}}
        </div>
    {{/if}}




    {{#if booked_status}}
      <div class="card">
            <div class="card-header">
                Booked History :
            </div>
            <div class="card-body" >
                {{#if booked_details_r}}
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">index</th>
                            <th scope="col">Booking Id</th>
                            <th scope="col">Venue</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Class</th>
                            <th scope="col">Purpose</th>
                            <th scope="col">Booked time</th>
                          </tr>
                        </thead>
                        {{#each booked_details_r}}
                            <tbody>
                                <tr>
                                    <td scope="row">{{@index}}</td>
                                    <td>{{this.booking_id}}</td>
                                    <td>{{this.hall_name}}</td>
                                    <td>{{this.dates}}</td>
                                    <td>{{this.fromtime}} - {{this.totime}}</td>
                                    <td>{{this.class}}</td>
                                    <td>{{this.purpose}}</td>
                                    <td>{{this.booked_time}}</td>
                                    <td><a href="/index/cancel/{{this.booking_id}}" class="btn btn-danger">Cancel</a></td>
                                </tr>
                            </tbody>
                        {{/each}}
                    </table>
                {{/if}}
                   <div>
                     <h1 style="color: green; font-size: 17px;">{{booked_status}}</h1>
                   </div>
            </div>
      </div>
    {{/if}}








        {{#if cancelled_status}}
        <div class="card">
            <div class="card-header">
                Cancelled History :
            </div>
            <div class="card-body" >
                {{#if cancelled_details_r}}
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Booking Id</th>
                            <th scope="col">Venue</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Class</th>
                            <th scope="col">Cancelled Time</th>
                          </tr>
                        </thead>
                        {{#each cancelled_details_r}}
                            <tbody>
                                <tr>
                                    <td scope="row">{{@index}}</td>
                                    <td>{{this.booking_id}}</td>
                                    <td>{{this.hall_name}}</td>
                                    <td>{{this.dates}}</td>
                                    <td>{{this.fromtime}} - {{this.totime}}</td>
                                    <td>{{this.class}}</td>
                                    <td>{{this.cancelled_time}}</td>
                                </tr>
                            </tbody>
                        {{/each}}
                    </table>
                {{/if}}
                   <div>
                     <h1 style="color: green; font-size: 17px;">{{cancelled_status}} {{user.staff_name}}..</h1>
                   </div>
            </div>
        </div>
    {{/if}}




        {{#if booked_id_status_done}}
        <div class="card">
            <div class="card-header">
                {{booked_id_status_done}} :
            </div>
            <div class="card-body" >
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Booking Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Dept</th>
                            <th scope="col">Hall Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Class</th>
                            <th scope="col">purpose</th>
                            <th scope="col">Booked Time</th>
                          </tr>
                        </thead>
                        {{#each booked_id_details}}
                            <tbody>
                                <tr>
                                    <td scope="row">1</td>
                                    <td>{{this.booking_id}}</td>
                                    <td>{{this.staff_name}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.dept}}</td>
                                    <td>{{this.hall_name}}</td>
                                    <td>{{this.dates}}</td>
                                    <td>{{this.fromtime}} - {{this.totime}}</td>
                                    <td>{{this.class}}</td>
                                    <td>{{this.purpose}}</td>
                                    <td>{{this.booked_time}}</td>
                                </tr>
                            </tbody>
                            {{/each}}
                    </table>
            </div>
        </div>
    {{/if}}


            {{#if booked_id__status_cancelled}}
        <div class="card">
            <div class="card-header">
                {{booked_id__status_cancelled}} :
            </div>
            <div class="card-body" >
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Booking Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Dept</th>
                            <th scope="col">Hall Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Booked Time</th>
                            <th scope="col">Cancelled Time</th>
                            <th scope="col">Class</th>
                            <th scope="col">Booked purpose</th>
                          </tr>
                        </thead>
                        {{#each booked_id_details}}
                            <tbody>
                                <tr>
                                    <td scope="row">1</td>
                                    <td>{{this.booking_id}}</td>
                                    <td>{{this.staff_name}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.dept}}</td>
                                    <td>{{this.hall_name}}</td>
                                    <td>{{this.dates}}</td>
                                    <td>{{this.fromtime}} - {{this.totime}}</td>
                                    <td>{{this.booked_time}}</td>
                                    <td>{{this.cancelled_time}}</td>
                                    <td>{{this.class}}</td>
                                    <td>{{this.booked_purpose}}</td>
                                </tr>
                            </tbody>
                            {{/each}}
                    </table>
            </div>
        </div>
    {{/if}}















    {{#if message }}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}
</div>
{{>footer}}
</body>
</html>
