<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
<script>
function myFunction() {
              return document.getElementById("bookhallfor").style.display = "block";
}

function validateForm() {
document.forms["myForm"]["fromtime"].style.borderColor = "green";
document.forms["myForm"]["totime"].style.borderColor = "green";
document.forms["myForm"]["hall"].style.borderColor = "green";
if(document.forms["myForm"]["hall"].value === "0"){
    document.forms["myForm"]["hall"].style.borderColor = "red";
    alert("Invalid hall name")
    return false;
    }


var fromtime = parseInt(document.forms["myForm"]["fromtime"].value.substring(0, 2));
var totime = parseInt(document.forms["myForm"]["totime"].value.substring(0, 2));
var fromtimeminute = parseInt(document.forms["myForm"]["fromtime"].value.substring(3, 5));
var totimeminute = parseInt(document.forms["myForm"]["totime"].value.substring(3, 5));

if((fromtime > totime || fromtime === totime && (fromtimeminute > totimeminute || fromtimeminute === totimeminute))){
    alert("error1")
    document.forms["myForm"]["fromtime"].style.borderColor = "red";
     document.forms["myForm"]["totime"].style.borderColor = "red";
     return false;
}


if((fromtime >= 9 && fromtime <=18) && (totime >= 9 && totime <= 18)){
    document.forms["myForm"]["fromtime"].style.borderColor = "green";
    document.forms["myForm"]["totime"].style.borderColor = "green";
}else {
    alert("error2")
    document.forms["myForm"]["fromtime"].style.borderColor = "red";
    document.forms["myForm"]["totime"].style.borderColor = "red";
    return false;
}

if((fromtime >= 9 && fromtime <=18) && (totime >= 9 && totime <= 18)){
    document.forms["myForm"]["fromtime"].style.borderColor = "green";
    document.forms["myForm"]["totime"].style.borderColor = "green";
}else {
    alert("error3")
    document.forms["myForm"]["fromtime"].style.borderColor = "red";
    document.forms["myForm"]["totime"].style.borderColor = "red";
    return false;
}

if(fromtime === totime && totimeminute-fromtimeminute <15){
    alert("error4")
    document.forms["myForm"]["fromtime"].style.borderColor = "red";
    document.forms["myForm"]["totime"].style.borderColor = "red";
    return false;
}

if((totime-fromtime === 1) && (60 - fromtimeminute + totimeminute < 15)){
    alert("error5")
    document.forms["myForm"]["fromtime"].style.borderColor = "red";
    document.forms["myForm"]["totime"].style.borderColor = "red";
    return false;
}


}
</script>

</head>
<body>
{{>headers}}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Search venue :
        </div>
        <div class="card-body">
        <form action="/search/hall" method="post">
            <div class="form-group row">
              <label for="example-date-input" class="col-2 col-form-label">Date</label>
              <div class="col-10">
                <input class="form-control" type="date" name="date" value=new Date(date.getFullYear(), date.getMonth(), date.getDate()); id="example-date-input">
              </div>
            </div>

            <div class="form-group row">
                <label for="inputGroupSelect04" class="col-2 col-form-label">Hall</label>
                <div class="col-10">
              <select name="hall" class="custom-select">
                <option value="0" selected>Choose...</option>
                <option value="Seminar Hall 1">Seminar Hall 1</option>
                <option value="Seminar Hall 2">Seminar Hall 2</option>
                <option value="Seminar Hall 3">Seminar Hall 3</option>
                <option value="Auditorium 1">Auditorium 1</option>
                <option value="Auditorium 2">Auditorium 2</option>
                <option value="Auditorium 3">Auditorium 3</option>
              </select>
                </div>
            </div>
                <button style="width: 100px" type="submit" class="btn btn-primary">Submit</button>

            {{#if booking_detils}}
                <input type="button" style="width: 100px" class="btn btn-outline-dark" value="Book" onclick="myFunction()"/>
            {{/if}}


        </form>
        </div>
    </div>

        {{#if message }}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}

    <div class="card">
           {{#if booking_detils}}
             <div class="card-header">
              Results : {{date}}
            </div>
        <div class="card-body">
            {{#if booking_detils_r}}
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Index Number</th>
                    <th scope="col">Staff Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Time</th>
                  </tr>
                </thead>
                {{#each booking_detils_r}}
                    <tbody>
                        <tr>
                            <td scope="row">{{@index}}</td>
                            <td>{{this.staff_name}}</td>
                            <td>{{this.dept}}</td>
                            <td>{{this.hall_name}}</td>
                            <td>{{this.fromtime}} - {{this.totime}}</td>
                        </tr>
                    </tbody>
                {{/each}}
            </table>


<!--            <input type="button" value="Back" onclick="window.history.back();" />-->



            {{/if}}
           <div>
             <h1 style="color: green; font-size: 17px;">{{booking_detils}} {{date}}</h1>
           </div>
         {{/if}}
        </div>
    </div>




    <div class="card" id="bookhallfor"  style="display: none">
        <div class="card-header">
              Book the hall : For {{date}}
         </div>
        <div class="card-body">
            <form action="/search/bookhall" name="myForm" method="post" onsubmit="return validateForm()">
                <div class="form-group row">
                <label for="inputGroupSelect04" class="col-2 col-form-label">Hall Name</label>
                <div class="col-10">
              <select name="hall" class="custom-select">
                <option value="0" selected>Choose...</option>
                <option value="Seminar Hall 1">Seminar Hall 1</option>
                <option value="Seminar Hall 2">Seminar Hall 2</option>
                <option value="Seminar Hall 3">Seminar Hall 3</option>
                <option value="Auditorium 1">Auditorium 1</option>
                <option value="Auditorium 2">Auditorium 2</option>
                <option value="Auditorium 3">Auditorium 3</option>
              </select>
                </div>
            </div>


<!--            <div class="form-group row">-->
<!--                  <label for="example-date-input" class="col-2 col-form-label">Date</label>-->
<!--                  <div class="col-10" width="">-->
<!--                    <input style="width: fit-content" class="form-control" type="date" value="2011-08-19" id="example-date-input">-->
<!--                      <input style="width: fit-content" class="form-control" type="time" value="00:00:00" id="example-time-input">-->
<!--                      <input style="width: fit-content" class="form-control" type="time" value="00:00:00" id="example-time-input">-->
<!--                  </div>-->
<!--            </div>-->
            <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Date</label>
                <div class="col-10">
                  <div class="row">
                    <div class="col-sm-3">
                       <input style="width: fit-content" name="date" class="form-control" type="date" value="2011-08-19" id="example-date-input">
                    </div>
                    <div class="col-sm-2">
                       <input style="width: fit-content" name="fromtime" class="form-control" type="time" value="09:00" id="example-time-input">
<!--                         <input style="width: fit-content" name="fromtime" class="form-control" min="09:00" max="18:00" type="time" value="09:00" id="example-time-input">-->
                    </div>
                    <div class="col-sm">
                      <input style="width: fit-content" name="totime" class="form-control" type="time" value="18:00" id="example-time-input1">
<!--                        <input style="width: fit-content" name="totime" class="form-control" type="time" min="09:00" max="18:00" value="18:00" id="example-time-input1">-->
                    </div>
                  </div>
                </div>
            </div>
                <button style="width: 100px" type="submit" class="btn btn-primary">Submit</button>
            </form>
             {{#if message1 }}
                <h4 class="alert alert-danger mt-4">{{message1}}</h4>
            {{/if}}
        </div>
    </div>







</div>
{{>footer}}
</body>
</html>
